body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 500px;
}
.square {
    border: 1px solid black;
    box-sizing: border-box;
}
.button {
    justify-content: center;
    width: 300px;
    height: 40px;
}
.button:hover {
    background-color: aquamarine;
}